@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: white;
  background-color: black;
  backdrop-filter: brightness(0.5);
  background-image: url('../public/282.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  width: 50%;
}

textarea {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  resize: none;
  margin: 20px;
}

button {
  background-color: #1e5c8f;
  color: white;
  cursor: pointer;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
  transition: background-color 0.3s;
}

button:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  background-color: #084374;
}